.big-image {
  display: flex;
  margin: 30px 40px;
  align-items: center;
}
.big-image__img img {
  margin-right: 40px;
  height: 400px;
  width: 300px;
  object-fit: cover;
}
.big-image__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 500px;
  line-height: 1.5;
}
.big-image__column__text h1 {
  font-size: 40px;
  font-weight: bold;
}
.big-image__column__text h4 {
  font-size: 25px;
  opacity: 0.6;
}

.star {
  color: #ffce33;
}
.star:last-child {
  color: gray;
  opacity: 0.2;
}
.big-image__column__explain__text {
  padding: 10px 30px;
  font-weight: bold;
  background-color: rgb(90, 90, 90, 0.1);
  margin-right: 10px;
}
.big-image__column__book i {
  padding: 30px;
  border-radius: 50%;
  background-color: #ffce33;
  margin-right: 70px;
}
.big-image__column__book span {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
