.settings__setting {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 0px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting__first {
  padding: 20px 0px 60px 0px;
}
.settings__setting__top {
  margin-top: 20px;
}
.settings__setting i {
  margin-right: 18px;
  opacity: 0.9;
}

.settings__setting span {
  font-size: 20px;
}
.settings-setting__column:last-child {
  opacity: 0.6;
}
