.icon-row {
  display: flex;
  justify-content: space-between;
}
.icon-row__icon {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 70px;
  align-items: center;
  margin-bottom: 40px;
}
.icon-row__icon span {
  margin-top: 20px;
}
