.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 40px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2f363e;
}
.nav__notification {
  position: absolute;
  left: 18px;
  bottom: 18px;
}
.nav__notifications {
  position: absolute;
  bottom: 30px;
  left: 28px;
}
